%h1 Tweet Tracks

%ul.nav.nav--global
  %li
    = link_to "Home", '/'
  %li
    = link_to "Search", search_path
  %li
    = link_to "About", about_path, class: "current"


.about
  %p
    Tweet Tracks is a hack created by Melinda Seckington for
    = link_to "Hackference 2014,", "http://hackference.co.uk/"
    generating Spotify playlists based on your tweets.

  %p
    It uses the
    = link_to "dataTXT api from dandelion", "https://dandelion.eu/products/datatxt/nex/demo/"
    to extract entities (places, people, events, etc) from tweets and uses those keywords to find tracks on
    = link_to "Spotify.", "https://www.spotify.com"
    The first tab 'Home' displays the tracks based on my Home Timeline tweets, while the 'Search' tab gives you the option to search for any Twitter user.
