%h1 Tweet Tracks

%ul.nav.nav--global
  %li
    = link_to "Home", '/', class: "current"
  %li
    = link_to "Search", search_path

%p.update
  = link_to "Update playlist", reload_path, class: 'update_button'

- @tweets.each do |tweet|
  .tweet
    .track_image
      / = image_tag(tweet.track_image, height: 250)
      <iframe src="https://embed.spotify.com/?uri=spotify:track:#{tweet.spotify_id}" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
    .track_details
      .user
        .avatar_box
          = image_tag(tweet.user_image)
        .user_name
          = link_to "@#{tweet.user_name}", "https://twitter.com/#{tweet.user_name}"

      %div
        = tweet.text

      / %p
      /   Keyword:
      /   = tweet.label

      %h3
        Track:
        .track_name
          = tweet.track_name
      %h3
        Artist:
        .track_name
          = tweet.track_artist
