%h1 Tweet Tracks

%ul.nav.nav--global
  %li
    = link_to "Home", '/', class: "current"
  %li
    = link_to "Search", search_path
  %li
    = link_to "About", about_path

.update
  .avatar_box
    = image_tag("https://pbs.twimg.com/profile_images/483000143600685056/xdFJ3p4e_normal.jpeg")
  .hack_description
    This is a Spotify playlist generated from tweets in
    = succeed "'s" do
      = link_to "@mseckington", "https://twitter.com/mseckington"
    Twitter home timeline.

- @tweets.each do |tweet|
  .tweet
    .track_image
      <iframe src="https://embed.spotify.com/?uri=spotify:track:#{tweet.spotify_id}" width="250" height="330" frameborder="0" allowtransparency="true"></iframe>
    .track_details
      .user
        .avatar_box
          = image_tag(tweet.user_image)
        .user_name
          = link_to "@#{tweet.user_name}", "https://twitter.com/#{tweet.user_name}"

      %div
        = tweet.text

      %h3
        Track:
        .track_name
          = tweet.track_name
      %h3
        Artist:
        .track_name
          = tweet.track_artist
